@import url("colors.css");

@define-color window alpha(@color13, 0.2);

@define-color bg alpha(@color0, 0.8);
@define-color bg-selected alpha(@color6, 0.7);

@define-color border @color14;

@define-color text @color15;
@define-color text-selected @color7;

* {
    font-family: monospace;

    margin: 0;
    padding: 0;

    border-style: none;
    border-width: 2px;
    border-radius: 12px;
    border-color: @border;

    outline: none;

    background: none;

    color: @text;
}

window {
    color: @cursor;
    background-color: @window;
}

entry {
    padding: 0.1rem;
    border-style: solid;
    background-color: @bg;
}

#main {
    margin-top: 2px;
}

#main box {
    padding: 4px;

    border-style: solid;

    background-color: @bg;
}

#main box * {
    border-style: none;

    background: none;
}

#plugin {
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: bold;
    background: none;
}

#plugin * {
    margin: 0;
}

#match {
    margin: 2px;
    padding: 2px;

    color: @text;
}

#match:selected {
    padding: 0px;
    border-style: solid;

    color: @text-selected;

    background-color: @bg-selected;
}

#match * {
    margin: 0;
}

#match-title {
    font-weight: bold;
}

#match-desc {
    font-style: italic;
    font-weight: normal;
}
